<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CategoryMapper">
    <!--嵌套语句查询-->
    <select id="findProductByCategory1" parameterType="String" resultMap="categoryMap1">
        select * from category
        where type_name=#{name}
    </select>
    <resultMap id="categoryMap1" type="Category">
        <id property="typeId" column="type_id"></id>
        <result property="typeName" column="type_name"></result>
        <collection property="products" column="type_id" fetchType="eager"
                    select="findProductByTypeId"></collection>
    </resultMap>
    <select id="findProductByTypeId" parameterType="Integer" resultType="Product">
        select * from product where type_id=#{id}
    </select>


    <!--嵌套结果查询-->
    <select id="findProductByCategory2" parameterType="String" resultMap="categoryMap2">
        select product.*,type_name
        from product,category
        where product.type_id=category.type_id
        and type_name=#{name}
    </select>
    <resultMap id="categoryMap2" type="Category">
        <id property="typeId" column="type_id"></id>
        <result property="typeName" column="type_name"></result>
        <collection property="products" ofType="Product" fetchType="eager">
            <id property="goodsId" column="goods_id"></id>
            <result property="goodsName" column="goods_name"></result>
            <result property="price" column="price"></result>
            <result property="typeId" column="type_id"></result>
        </collection>
    </resultMap>

</mapper>