<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nynu.mapper.BookMapper">
    <!--开启二级缓存-->
    <cache></cache>

    <!--<select id="findBookById" parameterType="Integer" resultType="Book">
        select * from tb_book where id=#{id}
    </select>
    <insert id="insertBook" parameterType="Book">
        insert into tb_book (id,bookname,price,author) values
            (#{id},#{bookname},#{price},#{author})
    </insert>-->

    <select id="findBookByName" parameterType="String" resultType="Book">
        select * from tb_book
        <where>
            <if test=" bookname!=null and bookname!='' ">
                bookname like concat('%',#{bookname},'%')
            </if>
        </where>
    </select>

</mapper>